# MoltenVK specific
Package/

# MoltenVK Dependencies
External/cereal
External/glslang
External/SPIRV-Cross
External/Vulkan-Headers
External/Vulkan-Portability
External/Vulkan-Tools
External/VulkanSamples

# Mac OS X Finder
.DS_Store

# Xcode
xcuserdata/
project.xcworkspace/
*.xccheckout
*.xcscmblueprint

# build products
build/
*.[oa]

# Other source repository archive directories (protects when importing)
.hg
.svn
CVS

# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

