# MoltenVK runtime build
/Package

# MoltenVK dependencies
/External

# Vulkan CTS testing artifacts
/Scripts/TestResults.qpa
/Scripts/shadercache.bin

# Mac OS X Finder
.DS_Store

# Xcode
xcuserdata/
project.xcworkspace/
*.xccheckout
*.xcscmblueprint

# build products
build/
*.[oa]

# Other source repository archive directories (protects when importing)
.hg
.svn
CVS

# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

